# intermediate directories
mykernel-3.9.4/downloads/
mykernel-3.9.4/kernel/
mykernel-3.9.4/.stamps/
mykernel-3.9.4/.out/

mykernel-4.1.0/downloads/
mykernel-4.1.0/kernel/
mykernel-4.1.0/.stamps/
mykernel-4.1.0/.out/

# Normal rules
.*
*.o
*.o.*
*.order
